<script>
	var notes;
	var terms;
	var definitions;
	var index;
	var showingCards;

	$( document ).ready(function() {
	  toggleButtons();
	  toggleCards();
	});
	function setNotes(n){
		notes = n;
	}
	function getNotes(){
		return notes;
	}
	function toggleHideElement(id){
		var item = document.getElementById(id).style.display;
		if(item == "none"){
			document.getElementById(id).style.display = "";
		}
		else{
			document.getElementById(id).style.display = "none";
		}
	}
	function toggleTextArea(){
		toggleHideElement('notes');
	}
	function toggleCards(){
		toggleHideElement('cards');
	}

	function toggleExample(){
		toggleHideElement('example');
	}
	function toggleButtons(){
		$('#okButton').toggle();
		$('#errorButton').toggle();
		$('.controls').toggle();
	}
	function toggleElements(){
		toggleTextArea();
		toggleExample();
		toggleButtons();
	}
	function flashcards(){
		var button = document.getElementById("flashCardButton");
		toggleElements();
		toggleCards();
		if(!showingCards){
			$('#flashCardButton').text("Show notes");
			

			var item = document.getElementById('notes');

			setNotes(item.value);
			addNotesToFlashCards();
			showingCards = true;
		}
		else{
			$('#flashCardButton').text("Convert to flash cards");
			showingCards = false;
		}
	}
	function initCards(){
		terms = [];
		definitions = [];
		index = 0;
		showingCards = false;
	}
	function setTerms(t){
		terms = t;
	}
	function setDefinitions(d){
		definitions = d;
	}
	function parseNotes(){
		var n = getNotes();
		var lines = n.split("\n");
		for(var i =0;i < lines.length;i++){
			var line = lines[i];
			if(line.trim().length > 0){
				var pair = line.split("-");
				if(pair && pair.length > 1){
					terms.push(pair[0].trim());
					var def = '';
					for(var j = 1;j < pair.length;j++){
						def += pair[j] + '-';
					}
					definitions.push(def);
				}
			}
		}
	}
	function randomize(){
		var length = terms.length;
		var indexes = [];
		for(var i =0;i < length;i++){
			indexes.push(i);
		}
		var t = [];
		var d = [];
		while(length > 0){
			var randomNum = Math.floor(Math.random() * length);
			t.push(terms[randomNum]);
			d.push(definitions[randomNum]);
			terms.splice(randomNum,1);
			definitions.splice(randomNum,1);
			length--;
		}
		setTerms(t);
		setDefinitions(d);
	}
	function nextPair(){
		if(index < terms.length){
			var front = document.getElementById('front');
			var back = document.getElementById('back');
			front.innerHTML = "<p>" + terms[index] + "</p>";
			back.innerHTML = "<p>" + definitions[index] + "</p>";
			index++;
		}
		else{
			//tell the user that the flashcards are done
		}
	}
	function addNotesToFlashCards(){
		initCards();
		parseNotes();
		randomize();
		nextPair();
	}
</script>
<a href="https://github.com/jairampatel/notecard"><img style="position: absolute; top: 0; right: 0; border: 0;" src="https://github-camo.global.ssl.fastly.net/38ef81f8aca64bb9a64448d0d70f1308ef5341ab/68747470733a2f2f73332e616d617a6f6e6177732e636f6d2f6769746875622f726962626f6e732f666f726b6d655f72696768745f6461726b626c75655f3132313632312e706e67" alt="Fork me on GitHub" data-canonical-src="https://s3.amazonaws.com/github/ribbons/forkme_right_darkblue_121621.png"></a>

<h1>Notecard</h1>
<div id="example" class="panel panel-default">
      <div class="panel-heading">
        <h3 class="panel-title">Example</h3>
      </div>
      <div class="panel-body">
        <ul>
        	<li>Term - definition</li>
        	<li>Silver - shiny, not as good as gold</li>
        	<li>George Washington - first President of US</li>
        	<li>Whale - mammal</li>
        </ul>
      </div>
    </div>

	<button id="flashCardButton" class="btn btn-lg" onclick="flashcards()">Convert to flash cards</button>
	</br>
	</br>
	<textarea id="notes" rows="20" cols="50">
	</textarea>
<div class="controls">
	<div id="cards" class="flip-container" ontouchstart="this.classList.toggle('hover');">
		<div class="flipper">
			<div id="front" class="front">
			</div>
			<div id="back" class="back">
			</div>
		</div>
	</div>


	<button id="okButton" class="btn btn-custom-ok" onclick="nextPair()">Got it</button>
	<button id="errorButton" class="btn btn-custom-error" onclick="reuse()">Had some trouble</button>
</div>
